.container-teams {
  background-color: white;
  height: min-content;
  width: 56vw;
}

.padrao-botao {
  background-color: #113977;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.padrao-tabela {
  color: black;
  width: 56vw;
}

.btn-tabela-padrao {
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}

.botao-cadastro-confirmar {
  background-color: #113977;
  color: white;
  border: 1px solid #113977;
  cursor: pointer;
}

.botao-cadastro-cancelar {
  background-color: #d9d9d9;
  color: #4d4b4b;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.padrao-nome-time {
  color: #113977;
}

.botao-excluir {
  text-decoration: none !important;
  background-color: red;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  color: white !important;
}

.botao-editar {
  text-decoration: none !important;
  background-color: #113977;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  color: white !important;
}
